.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.model-grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;

}


.model-grid-item-top {
    text-align: left;
}

.model-grid-item-bottom {
    text-align: right;
}

img {
    width: 75%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
}

.model-grid-item-content {
    text-align: center;
}
